<template>
    <div class="mt-5">
        <button class="btn btn-dark" @click="$refs.modalName.openModal()">Add new Person</button>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped" id="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Addresses</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for ="person in people">
                    <th scope="row">{{person.id}}</th>
                    <td>{{person.name}}</td>
                    <td>{{person.birthday}}</td>
                    <td>{{person.gender}}</td>
                    <td>{{person.addresses_count}}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="#" @click.prevent="viewPerson(person)">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-sm btn-danger" href="#" @click.prevent="deletePerson(person)">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <modal ref="modalName">
            <template v-slot:header>
                <h1>Add Person</h1>
            </template>

            <template v-slot:body>
                <form
                    id="modalForm"
                    @submit.prevent="checkModalForm()"
                    method="post">

                    <p v-if="modalErrors.length">
                        <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in modalErrors">{{ error }}</li>
                    </ul>
                    </p>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="person.name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select v-model="person.gender" id="gender" class="form-control">
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input v-model="person.birthday" class="form-control" id="birthday">
                    </div>
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </template>

            <template v-slot:footer>
                <div>
                    <button @click="$refs.modalName.closeModal()">Cancel</button>
                </div>
            </template>
        </modal>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getPeople();
        },
        data() {
            return {
                people: [],
                person: {
                    name: '',
                    birthday: '',
                    gender: ''
                },
                modalErrors: []
            }
        },
        methods: {
            getPeople: function (){
                var _this = this;
                axios.get('/people').then(function(response){
                    _this.people = response.data;
                }).catch(error => {
                    const errors = [];
                    $.each(error.response.data.errors, function(k, v) {
                        errors.push(v);
                    });
                    this.modalErrors = errors;
                });
            },
            viewPerson: function (person){
                this.$router.push({ name: 'person', params: { id: person.id } });
            },
            deletePerson: function (person){
                axios.delete('/people/' + person.id)
                    .then(async res => {
                        if (res.status === 200) {
                            alert('OK');
                            this.getPeople();
                        } else {
                            let errorResponse = await res.json();
                            alert(errorResponse.error);
                        }
                    });
            },
            checkModalForm: function (){

                let haltAction = false;
                this.modalErrors = [];

                if (this.person.name === '') {
                    haltAction = true;
                    this.modalErrors.push('Name is required.');
                }
                if (this.person.birthday === '') {
                    haltAction = true;
                    this.modalErrors.push('Birthday is required.');
                }
                if (this.person.gender === '') {
                    haltAction = true;
                    this.modalErrors.push('Gender is required.');
                }

                if (!haltAction) {
                    axios.post('/people', {
                        name: this.person.name,
                        birthday: this.person.birthday,
                        gender: this.person.gender
                    })
                        .then(async res => {
                            if (res.status === 200) {
                                this.$refs.modalName.closeModal()
                                alert('OK');
                                this.person = {
                                    name: '',
                                    birthday: '',
                                    gender: ''
                                };
                                this.getPeople();
                            } else {
                                let errorResponse = await res.json();
                                this.errors.push(errorResponse.error);
                            }
                        })
                        .catch(error => {
                            const errors = [];
                            $.each(error.response.data.errors, function(k, v) {
                                errors.push(v);
                            });
                            this.modalErrors = errors;
                        });
                }
            },
        }
    }
</script>
