<template>
    <div>
        <button class="btn-primary" @click.prevent="goBack()">Go Back</button>
        <hr>
        <form
            id="personForm"
            @submit.prevent="checkForm()"
            method="post">

            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <div class="form-group">
                <label for="name">Name</label>
                <input v-model="person.name" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select v-model="person.gender" id="gender" class="form-control">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </div>
            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input v-model="person.birthday" class="form-control" id="birthday">
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
        <hr>
        <button class="btn btn-dark" @click="$refs.modalName.openModal()">Add New Address</button>
        <hr>
        <h5>Address List</h5>
        <div class="table-responsive">
            <table class="table table-striped" id="table">
                <thead>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col">City Name</th>
                    <th scope="col">Country Name</th>
                    <th scope="col">Post Code</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for ="address in person.addresses">
                    <td>{{address.address}}</td>
                    <td>{{address.city_name}}</td>
                    <td>{{address.country_name}}</td>
                    <td>{{address.post_code}}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="#" @click.prevent="viewAddress(address)">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-sm btn-danger" href="#" @click.prevent="deleteAddress(address)">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <modal ref="modalName">
            <template v-slot:header>
                <h1>Add Address</h1>
            </template>

            <template v-slot:body>
                <form
                    id="modalForm"
                    @submit.prevent="checkModalForm()"
                    method="post">

                    <p v-if="modalErrors.length">
                        <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in modalErrors">{{ error }}</li>
                    </ul>
                    </p>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input v-model="address.address" class="form-control" id="address">
                    </div>
                    <div class="form-group">
                        <label for="city_name">City Name</label>
                        <input name="city_name" id="city_name" class="form-control" v-model="address.city_name">
                    </div>
                    <div class="form-group">
                        <label for="country_name">Country Name</label>
                        <input v-model="address.country_name" class="form-control" id="country_name">
                    </div>
                    <div class="form-group">
                        <label for="post_code">Post Code</label>
                        <input v-model="address.post_code" class="form-control" id="post_code">
                    </div>
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </template>

            <template v-slot:footer>
                <div>
                    <button @click="$refs.modalName.closeModal()">Cancel</button>
                </div>
            </template>
        </modal>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getPerson();
        },
        data() {
            return {
                person: {
                    name: '',
                    birthday: '',
                    gender: '',
                    addresses: {}
                },
                errors: [],
                modalErrors: [],
                showModal: false,
                address: {
                    address: '',
                    city_name: '',
                    country_name: '',
                    post_code: ''
                },
            }
        },
        methods: {
            getPerson: function (){
                var _this = this;
                axios.get('/people/' + this.$route.params.id).then(function(response){
                    _this.person = response.data;
                }).catch(error=>{
                    console.log("Error: "+error);
                });
            },
            viewAddress: function (address){
                this.$router.push({ name: 'address', params: { address: address.id } });
            },
            checkForm: function (){

                let haltAction = false;
                this.errors = [];

                if (this.person.name === '') {
                    haltAction = true;
                    this.errors.push('Name is required.');
                }
                if (this.person.birthday === '') {
                    haltAction = true;
                    this.errors.push('Birthday is required.');
                }
                if (this.person.gender === '') {
                    haltAction = true;
                    this.errors.push('Gender is required.');
                }

                if (!haltAction) {
                    axios.put('/people/' + this.$route.params.id, {
                        name: this.person.name,
                        gender: this.person.gender,
                        birthday: this.person.birthday
                    })
                        .then(async res => {
                            if (res.status === 204) {
                                alert('OK');
                            } else if (res.status === 400) {
                                let errorResponse = await res.json();
                                this.errors.push(errorResponse.error);
                            }
                        })
                        .catch(error => {
                            const errors = [];
                            $.each(error.response.data.errors, function(k, v) {
                                errors.push(v);
                            });
                            this.errors = errors;
                        });
                }
            },
            checkModalForm: function (){

                let haltAction = false;
                this.modalErrors = [];

                if (this.address.address === '') {
                    haltAction = true;
                    this.modalErrors.push('Address is required.');
                }
                if (this.address.city_name === '') {
                    haltAction = true;
                    this.modalErrors.push('City Name is required.');
                }
                if (this.address.country_name === '') {
                    haltAction = true;
                    this.modalErrors.push('Country Name is required.');
                }
                if (this.address.post_code === '') {
                    haltAction = true;
                    this.modalErrors.push('Post Code is required.');
                }

                if (!haltAction) {
                    axios.post('/addresses', {
                        address: this.address.address,
                        city_name: this.address.city_name,
                        country_name: this.address.country_name,
                        post_code: this.address.post_code,
                        person_id: this.person.id,
                    })
                        .then(async res => {
                            if (res.status === 200) {
                                this.$refs.modalName.closeModal()
                                alert('OK');
                                this.address = {
                                    address: '',
                                    city_name: '',
                                    country_name: '',
                                    post_code: ''
                                };
                                this.getPerson();
                            } else {
                                let errorResponse = await res.json();
                                this.modalErrors.push(errorResponse.error);
                            }
                        })
                        .catch(error => {
                            const errors = [];
                            $.each(error.response.data.errors, function(k, v) {
                                errors.push(v);
                            });
                            this.modalErrors = errors;
                        });
                }
            },
            deleteAddress: function (address){
                axios.delete('/addresses/' + address.id)
                    .then(async res => {
                        if (res.status === 200) {
                            alert('OK');
                            this.getPerson();
                        } else {
                            let errorResponse = await res.json();
                            this.errors.push(errorResponse.error);
                        }
                    });
            },
            goBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
            }
        }
    }
</script>
