<template>
    <div>
        <button class="btn-primary" @click.prevent="goBack()">Go Back</button>
        <hr>
        <h3>{{ address.person.name }}'s Address</h3>
        <hr>
        <form
            id="addressForm"
            @submit.prevent="checkForm()"
            method="post">

            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <div class="form-group">
                <label for="address">Address</label>
                <input v-model="address.address" class="form-control" id="address">
            </div>
            <div class="form-group">
                <label for="city_name">City Name</label>
                <input name="city_name" id="city_name" v-model="address.city_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="country_name">Country Name</label>
                <input v-model="address.country_name" class="form-control" id="country_name">
            </div>
            <div class="form-group">
                <label for="post_code">Post Code</label>
                <input v-model="address.post_code" class="form-control" id="post_code">
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getAddress();
        },
        data() {
            return {
                address: {
                    address: '',
                    city_name: '',
                    country_name: '',
                    post_code: '',
                    person: {}
                },
                errors: [],
            }
        },
        methods: {
            getAddress: function (){
                var _this = this;
                axios.get('/addresses/' + this.$route.params.address).then(function(response){
                    _this.address = response.data;
                })
                .catch(error => {
                    const errors = [];
                    $.each(error.response.data.errors, function(k, v) {
                        errors.push(v);
                    });
                    this.errors = errors;
                });
            },
            checkForm: function (){

                let haltAction = false;
                this.errors = [];

                if (this.address.address === '') {
                    haltAction = true;
                    this.errors.push('Address is required.');
                }
                if (this.address.city_name === '') {
                    haltAction = true;
                    this.errors.push('City Name is required.');
                }
                if (this.address.country_name === '') {
                    haltAction = true;
                    this.errors.push('Country Name is required.');
                }
                if (this.address.post_code === '') {
                    haltAction = true;
                    this.errors.push('Post Code is required.');
                }

                if (!haltAction) {
                    axios.put('/addresses/' + this.$route.params.address, {
                        address: this.address.address,
                        city_name: this.address.city_name,
                        country_name: this.address.country_name,
                        post_code: this.address.post_code
                    })
                        .then(async res => {
                            if (res.status === 204) {
                                alert('OK');
                            } else {
                                let errorResponse = await res.json();
                                this.errors.push(errorResponse.error);
                            }
                        })
                        .catch(error => {
                            const errors = [];
                            $.each(error.response.data.errors, function(k, v) {
                                errors.push(v);
                            });
                            this.errors = errors;
                        });
                }
            },
            goBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
            }
        }
    }
</script>
